= semantic_form_for [:dkp, @user]  do |f|
  = f.inputs do
    = f.input :nickname if current_user.available?(:update_user_nickname)
    - if current_user != @user && current_user.available?(:update_user_roles)
      - roles = Config::Role.available(current_user.roles.maximum(:wegth))
      = f.input :roles, as: :check_boxes, collection: roles if roles.any?
    - if current_user == @user
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
      = link_to 'Подключить ВК', '/auth/vkontakte', class: 'button' unless @user.uid

      - if @user.uid.present? && !@user.can_send
        .flash.flash_warn
          | Примите заявку в друзья от бота.&nbsp;&nbsp;&nbsp;&nbsp;
          = link_to 'Проверить', check_vk_dkp_user_path(@user)
      = f.input :vk_notifications, as: :check_boxes, collection: Notification.all if @user.uid && @user.can_send
  = f.actions
