= semantic_form_for 'change_carma_or_points', url: change_carma_or_points_dkp_user_path(@user)  do |f|
  = f.inputs do
    = f.input :add_carma, label: I18n.t(:add_carma, scope: :attributes), as: :number, required: false if current_user.available?(:add_carma)
    = f.input :remove_carma, label: I18n.t(:remove_carma, scope: :attributes), as: :number, required: false if current_user.available?(:remove_carma)
    = f.input :add_points, label: I18n.t(:add_points, scope: :attributes), as: :number, required: false if current_user.available?(:add_points)
    = f.input :remove_points, label: I18n.t(:remove_points, scope: :attributes), as: :number, required: false if current_user.available?(:remove_points)
  = f.actions do
    = f.action :submit, label: I18n.t(:change, scope: :attributes)
