<p><%= Raid.human_attribute_name(:config_raid) %>: <%= @raid.config_raid.name %>.</p>
<p><%= Raid.human_attribute_name(:points) %>: <%= @raid.points %>.</p>
<p><%= Raid.human_attribute_name(:leader) %>: <%= @raid.leader.nickname %>.</p>
<p><%= Raid.human_attribute_name(:start) %>: <%= l @raid.start, format: :long %>.</p>
<p><%= Raid.human_attribute_name(:stop) %>: <%= @raid.stop ? l(@raid.start, format: :long) : I18n.t(:no_limit) %>.</p>
