<%= semantic_form_for 'raide', url: activate_dkp_raids_path do |f| %>
  <%= f.inputs do %>
    <%= f.input :pincode, label: false %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, label: I18n.t(:activate_pincode, scope: %i(active_admin sidebar)) %>
  <% end %>
<% end %>
