<div id="login">
  <h2><%= render_or_call_method_or_proc_on(self, active_admin_application.site_title) %> <%= title t('active_admin.devise.sign_up.title') %></h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= devise_error_messages! %>
  <%= active_admin_form_for(resource, as: resource_name, url: send(:"#{scope}_registration_path"), html: { id: "registration_new" }) do |f|
    f.inputs do
      f.input :nickname, label: t(:title, scope: %i(active_admin devise nickname)),  input_html: { autofocus: true }
      f.input :email, label: t(:title, scope: %i(active_admin devise email))
      f.input :password, label: t(:title, scope: %i(active_admin devise password))
      f.input :password_confirmation, label: t(:title, scope: %i(active_admin devise password_confirmation))
    end
    f.actions do
      f.action :submit, label: t(:submit, scope: %i(active_admin devise login)), button_html: { value: t(:submit, scope: %i(active_admin devise sign_up)) }
    end
  end
  %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>
