// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "jquery-ui";
@import "activeadmin_addons/all";
@import "dashboard";

#footer {
  display: none;
}

.generate_button {
  margin-left: 1%;
}

#pincode {
  width: 65px;
}

.pincode_form {
  form fieldset {
    margin: 0;
    padding: 0;
  }

  form fieldset.inputs {
    border: none;
  }

  form fieldset ol > li {
    padding: 0 0 10px 0;
  }

  .panel_contents {
    padding: 3px 15px 0 15px;
  }
}

li {
  list-style-type: none;
}

table.index_table th a, table.index_table th a:link, table.index_table th a:visited {
  white-space: normal;
}

.col-bet {
  min-width: 132px;
  .input {
    width: 150px;
  }

  .fieldset {
    margin: 0;
    padding-top: 10px;
  }
}
