$seporatorColor: #8f979d

.dkp_dashboard
  background-color: #f9f9f9
.event_list
  text-align: center
  font-size: 1.3em
  margin-left: 20%
  margin-right: 20%
  .event
    font-weight: bold
    text-align: left
  .event-date
    text-align: right
    border-bottom: 2px solid $seporatorColor
    font-style: italic
    margin-bottom: 15px
