<p><%= Auction.human_attribute_name(:name) %>: <%= @auction.name %>.</p>
<p><%= Auction.human_attribute_name(:grade) %>: <%= @auction.grade.name %>.</p>
<p><%= Auction.human_attribute_name(:item_type) %>: <%= @auction.item_type.name %>.</p>
<p><%= Auction.human_attribute_name(:items_count) %>: <%= @auction.items_count %>.</p>
<p><%= Auction.human_attribute_name(:description) %>: <%= @auction.description %></p>
